PORT=5000
MONGO_URI=mongodb+srv://hiscameraroll10_db_user:TLKT1WexIpmcKOnr@cluster0.r3nqcre.mongodb.net/Laptop-Configurator?appName=Cluster0
JWT_SECRET=namanpatidar800
JWT_EXPIRES_IN=8h
CLIENT_ORIGIN=http://localhost:5173